@model UserLeaveRequestEditDto
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            İzin Onayla
        </small>
    </h1>
</div>
<div class="">
    <div class="col-xs-12">
        <form class="form-horizontal" role="form" asp-controller="UserLeaveRequest" asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="RequestUserId" />
            <input type="hidden" asp-for="RequestDate" />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Izin Tipi :</label>

                <div class="col-sm-9">
                    <select asp-items="(List<SelectListItem>)ViewBag.LeaveTypes" asp-for="UserLeaveTypeId" id="form-field-1" placeholder="izin Tipi" class="col-xs-10 col-sm-5">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 control-label no-padding-right">İzin Başlangıç Tarihi : </label>

                <div class="col-sm-4">
                    <div class="input-group ">
                        <input class="form-control date-picker col-xs-10 col-sm-5" asp-for="StartDate" type="text" data-date-format="dd-mm-yyyy" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-sm-3 control-label no-padding-right">İzin Bitiş Tarihi : </label>

                <div class="col-sm-4">
                    <div class="input-group ">
                        <input class="form-control date-picker col-xs-10 col-sm-5" asp-for="EndDate" type="text" data-date-format="dd-mm-yyyy" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-3 control-label no-padding-right">İzin Talep Açıklama :  </label>

                <div class="col-sm-4">
                    <div class="form-group ">
                        <textarea class="form-control limited" asp-for="Note" style="height: 100px" maxlength="250"></textarea>
                    </div>
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Güncelle
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <a asp-action="Index" class="btn">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Listeye Dön
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('textarea.limited').inputlimiter({
                remText: '%n karakter %s kaldı...',
                limitText: 'Maksimumum limit: %n.'
            });

            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            });



        });
    </script>

}
